body {
    font-family: Arial;
    margin: 30px;
}

nav {
    background: green;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.card {
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 15px;
    width: 300px;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
}